.navbar{
    background:#fd5200;
}

.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-brand{
    color:#ffffff;
    cursor: pointer;
}
.navbar-collapse{
    justify-content:flex-end;
}

header{
    background:url("/Images/bg-header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    background: rgba(244,244,244,0.7)
}
.description{
    position: absolute;
    top: 30%;
    margin:auto;
    padding:30px
}

.description p 
{
    color: cadetblue;
    font-size: 20px;
    width: 50%;
}
.description h3{
    color: #fd5200;

}

.about h1{
    color: #fd5200;
    margin:32px
}

.about span
{
    display: block;
    color: #c0c0c0;
    position: absolute;
    left: 115px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.about .desc{
    padding: 32px;
    border-left: 4px solid #408080;

}